In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import scale 
from sklearn import model_selection
from sklearn.model_selection import RepeatedKFold
from sklearn.model_selection import train_test_split
from sklearn.decomposition import PCA
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [ ]:
url = "https://raw.githubusercontent.com/Statology/Python-Guides/main/mtcars.csv"
data_full = pd.read_csv(url)
data = data_full[["mpg", "disp", "drat", "wt", "qsec", "hp"]]
data[0:6]

    mpg   disp  drat     wt   qsec   hp
0  21.0  160.0  3.90  2.620  16.46  110
1  21.0  160.0  3.90  2.875  17.02  110
2  22.8  108.0  3.85  2.320  18.61   93
3  21.4  258.0  3.08  3.215  19.44  110
4  18.7  360.0  3.15  3.440  17.02  175
5  18.1  225.0  2.76  3.460  20.22  105

In [ ]:
X = data[["mpg", "disp", "drat", "wt", "qsec"]]
y = data[["hp"]]

In [ ]:
X.corr()

           mpg      disp      drat        wt      qsec
mpg   1.000000 -0.847551  0.681172 -0.867659  0.418684
disp -0.847551  1.000000 -0.710214  0.887980 -0.433698
drat  0.681172 -0.710214  1.000000 -0.712441  0.091205
wt   -0.867659  0.887980 -0.712441  1.000000 -0.174716
qsec  0.418684 -0.433698  0.091205 -0.174716  1.000000

In [ ]:
pca = PCA()
X_reduced = pca.fit_transform(scale(X))

In [ ]:
pd.DataFrame(X_reduced)

           0         1         2         3         4
0   0.754721 -1.012269  0.105461 -0.295739 -0.085272
1   0.694491 -0.666780 -0.087558 -0.266122 -0.187080
2   1.513120  0.103658  0.157467 -0.414046  0.107103
3  -0.224796  1.167983  0.611227  0.241611  0.184604
4  -1.248258 -0.149025  0.507091  0.502301  0.289574
5  -0.657218  1.823682  0.793426 -0.355175  0.097898
6  -1.789686 -0.811089  0.336383 -0.018134  0.282550
7   1.083003  1.119750 -0.158455  0.085018 -0.267341
8   1.551967  2.437185 -0.953512 -0.169625  0.310597
9   0.397973  0.084507 -0.633476 -0.388040 -0.264499
10  0.355711  0.380115 -0.772507 -0.573414 -0.093579
11 -1.433323  0.257885  0.291811 -0.153610 -0.379832
12 -1.155944  0.293736  0.456408 -0.090433 -0.153374
13 -1.308909  0.490677  0.293375 -0.355134 -0.008763
14 -3.414906  0.766281 -0.570401  0.262136  0.055296
15 -3.417177  0.680994 -0.723725  0.232592 -0.136093
16 -2.789274  0.352940 -0.793948  0.689156 -0.430253
17  2.811467  0.471283  0.159872  0.645881 -0.314817
18  3.535660 -0.740178 -0.845284  0.382663  0.243845
19  3.329192  0.534936  0.119227  0.751995 -0.076053
20  1.332202  0.940438  0.067156 -0.526259  0.311330
21 -1.725587  0.042957  1.014886 -0.147618  0.122334
22 -1.272291 -0.013984  0.390721 -0.240547  0.282196
23 -1.598339 -1.328203 -0.567809 -0.105455  0.138813
24 -1.636355 -0.009484  0.403027  0.826907  0.137342
25  2.441653  0.068893  0.150811 -0.031691  0.087723
26  2.060383 -1.286604 -0.286062  0.108847 -0.059142
27  2.344557 -0.824165  1.208229  0.382329 -0.073787
28 -0.756811 -2.253474 -0.800010  0.178211  0.451321
29  0.276686 -1.290253  0.568066 -0.532241 -0.389723
30 -1.369303 -1.638693  0.085816 -0.192752 -0.145472
31  1.315392  0.006303 -0.527716 -0.433612 -0.037449

In [ ]:
pd.DataFrame(X_reduced).corr()

              0             1             2             3             4
0  1.000000e+00  6.929788e-18  0.000000e+00 -2.841873e-17  7.109539e-18
1  6.929788e-18  1.000000e+00  6.331017e-16  8.726431e-17  2.217225e-16
2  0.000000e+00  6.331017e-16  1.000000e+00  2.052274e-16 -2.524196e-16
3 -2.841873e-17  8.726431e-17  2.052274e-16  1.000000e+00 -1.452302e-17
4  7.109539e-18  2.217225e-16 -2.524196e-16 -1.452302e-17  1.000000e+00

In [ ]:
np.cumsum(np.round(pca.explained_variance_ratio_,decimals=4)*100)

array([69.83, 89.35, 95.88, 98.95, 99.99])